<h1>Sounds</h1>

<%= button_tag "Find Sounds Near Me", id: "current_location" %>

<hr>

<p>Sounds Near You</p>

<div id="sounds-near-user"></div>

<p>All Sounds</p>

<section id="sound-list">

  <%= render @sounds %>

</section>