.navigation {
  list-style: none;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 6%);
}

header > h1 {
  display: block;
  color: red;
}


footer {
  position:fixed;
  height: 20px;
  background-color: deepskyblue;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-bottom: 0;
    color: white;
    font-size: 1em;
    padding: 0.3em;
}

#container{
  width: 90%;
  margin: 0, auto;

}

#map-canvas{
  height: 40vh;
  width: 100vw;
}

#sound-list{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
width: 100%;
  margin: 0, auto;

}

audio {
  width: 50%;
  margin: 0, auto;
}

/*#audio-text{
  width: 40%;
  margin: 0, auto; 
}
*/
/*
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
*/
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 2px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  #map-canvas{
    height: 15vh;
    width: 100vw;
  }



}


/*
#login > h1 {
  display: inline-block;
}


* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  background: #333;
  background: linear-gradient(45deg, #333, white);
  min-height: 100%;
  font: 100%/2.5 helvetica, arial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: hsla(0, 100%, 0%, .5);
  overflow: hidden;
}

nav > ul > li {
  float: left;
}
nav a {
  display: block;
  padding: .2em 1em;
  border: solid hsla(0, 100%, 100%, .5);
  border-width: 0 1px 0 0;
  text-decoration: none;
  color: white;
  transition: .3s;
}
nav a:hover {
  background: hsla(0, 100%, 100%, .5);
  color: black;
}

li ul {
  position: absolute;
  opacity: 0;
  height: 0;
  transition: .3s;
}
li:hover ul {
  opacity: 1;
  height: auto;
}

header {
  left-margin: auto;
  right-margin: auto;
}

.left_tab{
  float: right;
  background: #555;
  min-width: 60%;
  height: 100%;
}

.right_tab{
  float: left;
  background: #666;
  min-width: 40%;
  height: 100%;
}

*/





